body {
  margin: 0;
  font-family: "Yekan", "tahoma", "Ubunt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  transation: all 0.3s ease;
  scroll-behavior: smooth;
}

.shadoww {
  border-radius: 25px;

  box-shadow: inset 5px 5px 32px #030a20, inset -5px -5px 32px #0d2a82;
}
.shadow-page {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  
}

@tailwind base;
@tailwind components;
@tailwind utilities;
